// .movie-card {
//   max-width: 300px;
//   border: 3px solid black;
//   border-radius: 15px;
//   box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
//   color: black;
//   background-color: rgb(240, 240, 240);
//   line-height: 2em;
//   margin: 20px auto;
//   padding: 5px;
// }

// .movie-card:hover {
//   background-color: rgb(231, 231, 231);
//   cursor: pointer;
// }
