.registration-view {
  background-color: white;
  border: solid black 2px;
  border-radius: 15px;
  padding: 50px;
}

.registration-form__label-tips {
  font-style: italic;
  font-size: 12px;
  color: gray;
  text-align: right;
}

.registration-form__line {
  margin-top: 10px;
}

.register-button {
  margin-top: 10px;
}
